section {background-color: #ffffff;} 
.fsbody {
font-family: 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
color: #254885;
}
.fsbody input, .fsbody select, .fsbody textarea {
font-family: 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}
.wf-active .fsbody, .wf-active .fsbody input, .wf-active .fsbody select, .wf-active .fsbody textarea {
font-family: 'Roboto', 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}
.fsbody .fsform {
float: center;
border: 0px solid transparent;
background-color: #ffffff;
background-color: rgba(255,255,255, 1);
}
#fsHeaderImage {
text-align: center;
}
#fsHeaderImage img {
width: 526px;
height: 34px;
}
/* #fsFooterImage {
text-align: ;
}
#fsFooterImage img {
width: ;
height: ;
} */
.fsborderradius .fsbody .fsform {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
}
.fsbody {
padding: 20px;
}
.fsbody .fsform {
margin: 20px auto;
padding: 20px;
}
.fsbody .fsfieldrow {
margin-bottom: 20px !important;
}
.fsbody .fsrowbody {
margin-bottom: 20px !important;
}
.fsbody .fssubfield {
margin-right: 10px;
}
@media (max-width: 40em) {
.fsrow.fsfieldrow.fslastrow {
margin-bottom: 20px;
}
.fssubfieldgroup .fssubfield:not(:last-child) {
margin-bottom: 10px;
}
}
.fsfieldfocused:not(.fsvalidationerror) {
background-color: transparent;
/* background-color: rgba(, 0); */
}
.fsfieldfocused:not(.fsvalidationerror).fsspan100 {
padding: 10px !important;
margin: -10px -10px !important;
}
.fsfieldfocused:not(.fsvalidationerror).fsspan75, .fsfieldfocused:not(.fsvalidationerror).fsspan66, .fsfieldfocused:not(.fsvalidationerror).fsSpan50, .fsfieldfocused:not(.fsvalidationerror).fsspan33, .fsfieldfocused:not(.fsvalidationerror).fsspan25 {
-webkit-box-shadow: 0 0 0 10px transparent;
-moz-box-shadow: 0 0 0 10px transparent;
box-shadow: 0 0 0 10px transparent;
/* -webkit-box-shadow: 0 0 0 10px rgba(, 0);
-moz-box-shadow: 0 0 0 10px rgba(, 0);
box-shadow: 0 0 0 10px rgba(, 0); */
}
.fsrequiredmarker {
margin-left: 2.5px !important;
font-size: 16px;
color: #595d64;
}
.fsvalidationerror {
background-color: #fae9e9;
-webkit-box-shadow: 0 0 0 calc(5px - 1px) #fae9e9, 0 0 0 5px #ce5f6d;
-moz-box-shadow: 0 0 0 calc(5px - 1px) #fae9e9, 0 0 0 5px #ce5f6d;
box-shadow: 0 0 0 calc(5px - 1px) #fae9e9, 0 0 0 5px #ce5f6d;
}
.fsform input:focus,
.fsform select:focus,
.fsform textarea:focus,
.fsform .ui-slider-handle:focus {
border-color: #cfd4d8;
/* -webkit-box-shadow: 0 0 5px rgba(, 0.75);
-moz-box-shadow: 0 0 5px rgba(, 0.75);
box-shadow: 0 0 5px rgba(, 0.75); */
}
.fsform :-moz-focusring {
text-shadow: 0 0 0 #595d64;
}
@media \0 screen {
.fsform input:focus,
.fsform select:focus,
.fsform textarea:focus {
filter: progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=0) progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=90) progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=180) progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=270);
}
}
div.fserror {
margin: 0 0 20px 0;
padding: 10px;
font-size: 14px;
}
.fsbody .showmobile {
margin-top: 10px;
font-size: 12px;
}
.fsbody .fslabel,
.fsbody label {
font-size: 16px;
color: #595d64;
}
.fslabelvertical .fslabel {
margin-bottom: 10px;
}
.fsbody .fssupporting {
font-size: 12px;
font-weight: 400;
font-style: normal;
line-height: 12px;
color: #595d64;
}
.fsfieldfocused div.fssupporting {
color: #595d64;
}
.fsbody .fscounter {
font-size: 12px;
color: #595d64;
}
.fsform .fslabelhorizontal > label, .fsform .fslabelhorizontal > legend, .fsform .fslabelhorizontal > span.fslabel, .fsform .fslabelhorizontal legend.fslabelhorizontal {
width: calc(25% - 10px);
margin-right: 10px;
}
label.fsoptionlabel {
font-size: 14px;
line-height: 28px;
}
.fsbody .fieldset-content .fsoptionlabel.horizontal {
margin-right: 20px;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait), all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
.fsoptionlabel {
line-height: 32px !important;
}
}
@media (max-width: 40em) {
label.fsoptionlabel {
border: 1px solid #cfd4d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #edeff0;
color: #595d64;
}
}
.fsbody .fscallouttop {
border-color: transparent transparent #595d64 transparent;
}
.fsbody .fscalloutbody {
padding: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 12px;
line-height: 24px;
color: #ffffff;
background-color: #595d64;
}
.fsrowbody input[type=text],
.fsrowbody input[type=email],
.fsrowbody input[type=number],
.fsrowbody input[type=tel],
.fsform textarea,
.fssignature {
border: 1px solid #cfd4d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #ffffff;
-webkit-transition-property: color, background-color, border, border-color, box-shadow;
-moz-transition-property: color, background-color, border, border-color, box-shadow;
-o-transition-property: color, background-color, border, border-color, box-shadow;
transition-property: color, background-color, border, border-color, box-shadow;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.fsrowbody input[type=text],
.fsrowbody input[type=email],
.fsrowbody input[type=number],
.fsrowbody input[type=tel],
.fsform select {
height: 42px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.fsrowbody input[type=text],
.fsrowbody input[type=email],
.fsrowbody input[type=number],
.fsrowbody input[type=tel],
.fsform select,
.fsform textarea {
padding: 7px;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 14px;
color: #595d64;
}
.fsrowbody input[type=text].fsrequired,
.fsrowbody input[type=email].fsrequired,
.fsrowbody input[type=number].fsrequired,
.fsrowbody input[type=tel].fsrequired,
.fsform select.fsrequired,
.fsform textarea.fsrequired {
border: 1px solid #cfd4d8;
background-color: #ffffff;
}
.fscell {
-webkit-transition-property: padding, box-shadow, background-color, margin-left, margin-right;
-moz-transition-property: padding, box-shadow, background-color, margin-left, margin-right;
-o-transition-property: padding, box-shadow, background-color, margin-left, margin-right;
transition-property: padding, box-shadow, background-color, margin-left, margin-right;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.fsrowbody input[type=radio],
.fsrowbody input[type=checkbox] {
top: 7px;
width: 14px;
height: 14px;
}
.fsrowbody input[type=radio]:before, .fsrowbody input[type=radio]:checked:before,
.fsrowbody input[type=checkbox]:before,
.fsrowbody input[type=checkbox]:checked:before {
width: 14px;
height: 14px;
margin-right: 7px;
border: 1px solid #cfd4d8;
background-color: #ffffff;
}
.fsrowbody input[type=radio]:checked:before {
border: 4px solid #595d64;
}
.fsratingshape .phx-icon {
fill: #595d64;
height: 25px;
width: 25px;
}
.fsrowbody input[type=checkbox]:checked:before {
border-color: #595d64;
background-color: #595d64;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 765.2'%3E%3Cpath fill='%23ffffff' d='M960,233.4L468.2,725.1c-53.4,53.4-140,53.4-193.3,0L40,490.3c-53.4-53.4-53.4-140,0-193.3c53.4-53.4,140-53.4,193.3,0	l138.2,138.2L766.6,40c53.4-53.4,140-53.4,193.3,0C1013.3,93.4,1013.3,180,960,233.4z'/%3E%3C/svg%3E");
}
.fsform select {
padding-right: calc(14px);
padding-left: calc(7px);
border: 1px solid #cfd4d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
color: #595d64;
background-color: #ffffff;
-webkit-transition-property: color, background-color, border, border-color;
-moz-transition-property: color, background-color, border, border-color;
-o-transition-property: color, background-color, border, border-color;
transition-property: color, background-color, border, border-color;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.fsform select:not([multiple=multiple]) {
padding-right: calc(28px);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1805.18'%3E%3Cpath fill='%23595d64' d='M461.6,643.4L10.9,79.9C-14.9,47.7,8,0,49.3,0h901.5c41.2,0,64.1,47.7,38.4,79.9L538.4,643.4	C518.7,668,481.3,668,461.6,643.4z' transform='rotate(180 500 902.59) translate(0 1143.28)'%3E%3C/path%3E%3Cpath fill='%23595d64' d='M461.6,643.4L10.9,79.9C-14.9,47.7,8,0,49.3,0h901.5c41.2,0,64.1,47.7,38.4,79.9L538.4,643.4	C518.7,668,481.3,668,461.6,643.4z' transform='translate(0 1143.28)'%3E%3C/path%3E%3C/svg%3E");
background-position: right 7px top 50%;
}
@media screen\0  {
.fsform select {
padding-right: calc(14px) !important;
}
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(2).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(1).fsnamefirst {
width: calc(50% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(3).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(2).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(1).fsnamefirst {
width: calc(40% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(3).fsnameprefix, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(3).fsnameinitial, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(3).fsnamemiddle, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(3).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(2).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(2).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(2).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(2).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(1).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(1).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(1).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(1).fsnamesuffix {
width: calc(20% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(4).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(3).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(2).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(1).fsnamefirst {
width: calc(35% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(4).fsnameprefix, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(4).fsnameinitial, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(4).fsnamemiddle, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(4).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(3).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(3).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(3).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(3).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(2).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(2).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(2).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(2).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(1).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(1).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(1).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(1).fsnamesuffix {
width: calc(15% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(5).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(4).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(3).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(2).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(1).fsnamefirst {
width: calc(32% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(5).fsnameprefix, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(5).fsnameinitial, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(5).fsnamemiddle, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(5).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(4).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(4).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(4).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(4).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(3).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(3).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(3).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(3).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(2).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(2).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(2).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(2).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(1).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(1).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(1).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(1).fsnamesuffix {
width: calc(12% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(6).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(5).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(4).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(3).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(2).fsnamefirst,
.fssubfieldgroup .fssubfield:nth-child(6):nth-last-child(1).fsnamefirst {
width: calc(28% - 10px);
}
.fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(6).fsnameprefix, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(6).fsnameinitial, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(6).fsnamemiddle, .fssubfieldgroup .fssubfield:nth-child(1):nth-last-child(6).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(5).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(5).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(5).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(2):nth-last-child(5).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(4).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(4).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(4).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(3):nth-last-child(4).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(3).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(3).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(3).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(4):nth-last-child(3).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(2).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(2).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(2).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(5):nth-last-child(2).fsnamesuffix,
.fssubfieldgroup .fssubfield:nth-child(6):nth-last-child(1).fsnameprefix,
.fssubfieldgroup .fssubfield:nth-child(6):nth-last-child(1).fsnameinitial,
.fssubfieldgroup .fssubfield:nth-child(6):nth-last-child(1).fsnamemiddle,
.fssubfieldgroup .fssubfield:nth-child(6):nth-last-child(1).fsnamesuffix {
width: calc(11% - 10px);
}
.fsbody .fssubfield.fsfieldaddress {
width: 100%;
}
.fsbody .fssubfield.fsfieldaddress2 {
width: 100%;
}
.fsbody .fssubfield.fsfieldcity {
width: calc(60% - 10px);
}
.fsbody .fssubfield.fsfieldstate {
width: calc(30% - 10px);
}
.fsbody .fssubfieldgroup ~ select[name*=-country] {
margin-top: 10px !important;
}
.fsbody .fssubfield.fsfieldaddress,
.fsbody .fssubfield.fsfieldaddress2 {
margin-bottom: 10px;
}
@media all and (max-width: 699px), all and (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), all and (device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
.fsbody .fssubfield.fsfieldcity {
margin-bottom: 10px;
}
.fsbody .fssubfield.fsfieldstate {
width: calc(70% - 10px);
}
}
@media (max-width: 40em) {
div.fssubfield.fsfieldstate {
margin-right: 10px;
}
}
div.fsslidervalue {
padding: 7px 14px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
line-height: 16px;
color: #ffffff;
background-color: #595d64;
}
.fssliderdiv {
font-size: 14px;
background-color: #595d64;
}
.fssliderdiv .ui-state-default,
.fssliderdiv .ui-widget-content .ui-state-default {
background-color: #595d64;
}
.fssliderdiv .ui-state-active,
.fssliderdiv .ui-widget-content .ui-state-active {
background-color: #595d64;
}
.fssliderdiv .ui-corner-all, .fssliderdiv.ui-corner-all {
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.fssliderdiv.ui-widget-content {
border: 1px solid #d4d4d4 !important;
}
.fssliderdiv .ui-widget-header {
background-color: #d4d4d4;
}
.fscurrency {
margin-right: 5px !important;
font-size: 14px;
line-height: 32px;
color: #595d64;
}
.fscurrency.fscurrencysuffix {
margin-right: 0 !important;
margin-left: 5px !important;
}
.fscurrency ~ input.fsfield {
width: calc(96% - 5px) !important;
}
.fsrowbody input[type=email] ~ p {
margin-top: 10px;
}
@font-face {
font-family: "TextMask";
src: url("/forms/fonts/3/password.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
.fstextmask {
font-family: "TextMask" !important;
}
.fsrowbody input[type=text] ~ p {
margin-top: 10px;
}
.fsproductfield__fields__quantity {
color: #595d64;
}
.fsproductfield__fields__fixed-amount,
.fsproductfield__fields__no-charge {
font-size: 14px;
color: #595d64;
}
.fsproductfield__info__name {
font-size: 16px;
color: #595d64;
}
.fsproductfield__info__description {
margin-top: 5px;
font-size: 12px;
line-height: 12px;
color: #595d64;
}
.fsproductfield__fields__sold-out {
font-size: 14px;
color: #595d64;
}
.fsproductfield__wait-list {
margin-top: 10px;
}
@media (max-width: 40em) {
.fsproductfield__image {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.fsproductfield__fields__fixed-amount,
.fsproductfield__fields__quantity {
font-size: 14px;
}
}
.fsmatrix {
font-size: 12px;
color: #595d64;
}
.fsmatrix th,
.fsmatrix td {
border-top: 1px solid #cfd4d8;
border-left: 1px solid #cfd4d8;
}
.fsmatrix th:nth-child(2) {
-webkit-border-radius: 3px 0 0 0;
-moz-border-radius: 3px 0 0 0;
-ms-border-radius: 3px 0 0 0;
-o-border-radius: 3px 0 0 0;
border-radius: 3px 0 0 0;
}
.fsmatrix tr:first-child th:last-child {
-webkit-border-radius: 0 3px 0 0;
-moz-border-radius: 0 3px 0 0;
-ms-border-radius: 0 3px 0 0;
-o-border-radius: 0 3px 0 0;
border-radius: 0 3px 0 0;
}
.fsmatrix tr:last-child td:last-child {
-webkit-border-radius: 0 0 3px 0;
-moz-border-radius: 0 0 3px 0;
-ms-border-radius: 0 0 3px 0;
-o-border-radius: 0 0 3px 0;
border-radius: 0 0 3px 0;
}
.fsmatrix tr:last-child th {
-webkit-border-radius: 0 0 0 3px;
-moz-border-radius: 0 0 0 3px;
-ms-border-radius: 0 0 0 3px;
-o-border-radius: 0 0 0 3px;
border-radius: 0 0 0 3px;
}
.fsmatrix tr:last-child th,
.fsmatrix tr:last-child td {
border-bottom: 1px solid #cfd4d8;
}
.fsmatrix tr th:last-child,
.fsmatrix tr td:last-child {
border-right: 1px solid #cfd4d8;
}
.fsmatrix th.fsmatrixlabelcolumn {
text-align: center;
}
.fsmatrix th.fsmatrixlabelrow {
text-align: right;
}
.fsmatrix th.fsmatrixlabelcolumn,
.fsmatrix th.fsmatrixlabelrow {
padding: 6px;
}
.fsmatrixcol1 {
background: #eaeaea;
background: rgba(234,234,234, 0.2);
}
.fsmatrixcol2 {
background: #d4d4d4;
background: rgba(212,212,212, 0.2);
}
.rtl .fsmatrix th, .rtl .fsmatrix td {
border-right: 1px solid #cfd4d8;
}
.fsform input[type=file]::-webkit-file-upload-button, .fsform .fsfileuploadbutton {
height: 32px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
color: #ffffff;
background-color: #595d64;
}
.fsfileuploadname {
font-size: 14px;
}
.fsbody .fieldset-content .always-ltr {
margin-top: 10px;
}
.fsbody .fieldset-content select span,
.fsbody .fieldset-content .always-ltr span, .fsbody .fieldset-content .always-ltr-align-right span {
top: 8px;
}
.fsbody .fieldset-content select {
margin-right: 10px;
}
.fsbody .fieldset-content span {
right: 5px;
}
.fsbody .ui-datepicker-trigger {
top: 8px;
margin-left: 10px;
}
.fssignatureclear {
font-size: 12px;
color: #595d64;
}
.fssignature + div {
margin-left: 10px;
line-height: 12px;
}
.wf-active .fssignature {
font-family: Arial, Tahoma, sans-serif;
}
img.fscreditcardlogo {
margin-top: 5px;
}
.fsbody .fssectionheader {
background-color: #edeff0;
}
.fsbody .fsform .fssectionheading {
margin-bottom: 10px;
text-align: center;
font-size: 28px;
font-weight: 400;
font-style: normal;
line-height: 28px;
color: #595d64;
}
.fsborderradius .fsbody .fssectionheader {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.fsborderradius .fsbody .fssectionheader {
margin-bottom: 40px;
}
.fsbody .fssectionheader {
padding: 20px;
}
.fsform select[multiple=multiple]::-webkit-scrollbar-thumb,
.fsform textarea::-webkit-scrollbar-thumb {
background-color: #cfd4d8;
}
.fsform .fssubmit {
margin-top: 40px;
padding: 20px 0;
}
.fspreviousbutton,
.fssubmitbutton,
.fsnextbutton {
padding: 10px 10px;
border: 0px solid transparent;
-webkit-border-radius: 3px !important;
-moz-border-radius: 3px !important;
-ms-border-radius: 3px !important;
-o-border-radius: 3px !important;
border-radius: 3px !important;
font-size: 14px !important;
font-weight: 400;
font-style: normal;
line-height: 14px;
color: #ffffff !important;
background-color: #405963 !important;
}
div.fsprogress {
margin-top: 20px;
}
div.fsprogressbarcontainer {
height: 14px;
background-color: #eaeaea;
}
div.fsprogresstext {
margin-top: -14px;
font-size: 7px;
line-height: 14px;
color: #595d64;
}
div.fsprogressbar {
background-color: #d4d4d4;
}
div.fssaveincomplete {
margin-bottom: 20px;
padding: 10px 0;
background-color: #eaeaea;
}
div.fssaveincomplete a {
font-size: 14px;
color: #595d64;
}
div.fssaveincomplete a:visited {
color: #595d64;
}
@media all and (max-width: 699px), all and (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), all and (device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
.fspagination .fsnextbutton,
.fspagination .fspreviousbutton {
background-color: #405963;
}
.fspagination .fssubmitmultipage {
margin-top: 20px !important;
}
}
#fsSubmissionCheckmark {
margin: 10px 0;
background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath fill='%23595d64' d='M500,0C223.9,0,0,223.9,0,500c0,276.1,223.9,500,500,500s500-223.9,500-500C1000,223.9,776.1,0,500,0z M749.4,423	L495.6,676.8c-27.6,27.6-72.2,27.6-99.8,0L274.7,555.6c-27.6-27.6-27.6-72.2,0-99.8c27.6-27.6,72.2-27.6,99.8,0l71.3,71.3	l203.9-203.9c27.6-27.6,72.2-27.6,99.8,0C777,350.8,777,395.5,749.4,423z'/%3E%3C/svg%3E");
}
#fsSubmissionCheckmark ~ .fssectionheading {
margin-bottom: 10px;
}
#fsSubmissionCheckmark ~ .fssectiontext {
text-align: center;
}
#recaptcha_area {
margin-bottom: 20px;
}
.recaptchatable img:hover {
-webkit-box-shadow: 0px 0px 0px 1px #595d64;
-moz-box-shadow: 0px 0px 0px 1px #595d64;
box-shadow: 0px 0px 0px 1px #595d64;
}
.fsform .fsworkflowsendback {
margin-top: 20px;
font-size: 16px;
}
.fsform .fsworkflowsendback a {
text-decoration: underline;
cursor: pointer;
}
.fsform .fsworkflowsendback svg {
margin-bottom: -2px;
width: 14px;
height: 14px;
fill: #595d64;
}
.fsembed .fswelcomemessage {
position: relative;
}
.fswelcomemessage:not(.fswelcomemessage--hidden) + form.fsform {
display: none;
}
.fswelcomemessage--hidden + form.fsform {
display: inherit;
}
.fswelcomemessage {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffffff;
padding: 0;
z-index: 99999;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.fswelcomemessage.fswelcomemessage--hidden {
display: none;
}
.fswelcomemessage .fswelcomemessage__header {
position: absolute;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin-left: 19px;
top: 2px;
left: 0;
}
.fswelcomemessage .fswelcomemessage__image {
background-repeat: no-repeat;
background-size: unset;
background-position: center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 8;
}
.fswelcomemessage .fswelcomemessage__image.fswelcomemessage__sizing--repeat {
background-repeat: repeat;
background-size: unset;
}
.fswelcomemessage .fswelcomemessage__image.fswelcomemessage__sizing--contain {
background-size: contain;
}
.fswelcomemessage .fswelcomemessage__image.fswelcomemessage__sizing--cover {
background-size: cover;
}
.fswelcomemessage .fswelcomemessage__image.fswelcomemessage__sizing--stretch {
background-size: 100% 100%;
}
.fswelcomemessage .fswelcomemessage__content {
z-index: 9;
background-color: #ffffff;
padding: 40px;
margin: 10px;
border-radius: 6px;
position: relative;
}
.fswelcomemessage .fswelcomemessage__content.fswelcomemessage__content--hide-form-background {
background-color: transparent;
}
.fswelcomemessage .fswelcomemessage__content .fswelcomemessage__message {
color: #595d64;
font-size: 28px;
}
.fswelcomemessage .fswelcomemessage__content .fswelcomemessage__start-button {
padding: 10px 10px;
margin-top: 40px;
border: 0px solid transparent;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 14px;
color: #ffffff;
background-color: #405963;
cursor: pointer;
}
html:not([data-scroll="0"]) .survey-mode.fsbody .fsform .survey-header {
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.survey-mode.fsbody #fsHeaderImage {
transition: all 0.1s;
position: fixed;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin: 2px 0 0 19px;
top: 0;
left: 0;
}
.survey-mode.fsbody #fsHeaderImage.fsheaderimage--relative {
display: none;
}
.survey-mode.fsbody .fsheaderimage--sticky {
transition: all 0.1s;
position: absolute;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin-left: 19px;
bottom: 2px;
left: 0;
}
.survey-mode.fsbody .payment-warning {
margin-top: 61px;
margin-left: 7px;
margin-right: 7px;
}
.survey-mode.fsbody .fssignatureclear {
text-decoration: none;
background: #FFF;
color: #000;
padding: 7px 12px;
border-radius: 3px;
text-transform: capitalize;
}
.survey-mode.fsbody [fs-field-type=signature] .fssupporting {
clear: left;
margin-left: 12px;
margin-top: 9px;
line-height: 1.5;
}
.survey-mode.fsbody .fsform {
margin-top: 140px !important;
min-width: inherit;
width: 100%;
background-color: #ffffff;
border: none;
max-width: 1024px;
}
.survey-mode.fsbody .fsform .g-recaptcha .grecaptcha-badge {
z-index: 9;
}
.survey-mode.fsbody .fsform.with-ads:not(.fsgo-form) .g-recaptcha .grecaptcha-badge {
bottom: 54px !important;
}
.survey-mode.fsbody .fsform.with-ads:not(.fsgo-form) .fsprogress {
bottom: 40px;
}
.survey-mode.fsbody .fsform .fssignature + div {
margin-top: 7px;
line-height: 1.5;
}
.survey-mode.fsbody .fsform .fsprogress {
position: fixed;
border: 0;
bottom: 0;
left: 0;
z-index: 11;
}
.survey-mode.fsbody .fsform .fsprogress div.fsprogresstext {
display: none;
}
.survey-mode.fsbody .fsform .fsprogress div.fsprogressbar {
transition: width 1s;
}
.survey-mode.fsbody .fsform .survey-header {
background-color: #ffffff;
z-index: 9;
box-sizing: border-box;
position: fixed;
width: 100%;
top: -1px;
left: 0;
height: 88px;
display: flex;
align-items: flex-end;
padding: 19px;
transition: all 0.1s linear;
}
.survey-mode.fsbody .fsform .survey-header.with-progressbar div.sharelinkswrapper {
margin-bottom: 11px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination {
position: relative;
flex: 1;
padding: 0;
margin: 0 0 7px 0;
display: flex;
justify-content: flex-end;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination span.fsfull {
display: none;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fssubmitbutton {
display: inline-block;
width: auto;
margin: 0 !important;
height: 44px;
padding: 0 30px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fssubmitbutton {
margin-right: 29px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton {
width: 41px;
height: 41px;
padding: 0;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
-ms-border-radius: 50% !important;
-o-border-radius: 50% !important;
border-radius: 50% !important;
user-select: none;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsslim {
display: none;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton:before,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton:before {
display: block;
text-indent: 0;
font-size: 1.5em;
line-height: 0;
font-family: "Zapf Dingbats";
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton:before {
content: "➤";
margin-left: 3px;
margin-top: 3px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton:before {
content: "➤";
transform: rotate(180deg);
margin-left: -3px;
}
.rtl .survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton:before {
content: "➤";
transform: rotate(180deg);
}
.rtl .survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton:before {
content: "➤";
}
@media all and (max-width: 1024px) {
.survey-mode.fsbody .fsheaderimage.fsheaderimage--relative {
display: none;
}
.survey-mode.fsbody .payment-warning {
margin-top: 91px;
}
.survey-mode.fsbody #fsFooterImage {
margin-bottom: 61px;
}
.survey-mode.fsbody .fsform label.fsoptionlabel {
color: #595d64;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination {
margin-top: 0 !important;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsprogress {
margin-top: 0;
position: fixed;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination div.sharelinkswrapper {
margin-bottom: 12px;
}
.survey-mode.fsbody .fsform .fsfieldhighlight.fssubfieldgroup {
flex-direction: column;
}
.survey-mode.fsbody .fsform [fs-field-type=address] .fssubfieldgroup .fssubfield {
width: 100%;
margin-bottom: 15px;
}
.survey-mode.fsbody .fsform [fs-field-type=address] .fsfieldhighlight > select {
margin-top: 0 !important;
}
.survey-mode.fsbody .fsform [fs-field-type=address] .fsfieldhighlight > label {
margin-top: 7px;
}
.survey-mode.fsbody .fsform [fs-field-type=name] .fssubfield {
width: 100%;
}
.survey-mode.fsbody .fsform [fs-field-type=name] .fssubfield:not(:last-child) {
margin-bottom: 10px;
}
}
@media all and (max-width: 480px) {
.survey-mode.fsbody #fsHeaderImage {
position: relative;
transform: scale(0.8);
transform-origin: left center;
height: 51px;
}
.survey-mode.fsbody #fsHeaderImage.fsheaderimage--relative {
display: block;
}
.survey-mode.fsbody .fsheaderimage--sticky {
display: none;
}
.survey-mode.fsbody .payment-warning {
margin-top: 11px;
}
.survey-mode.fsbody #fsFooterImage {
margin-bottom: 121px;
}
.survey-mode.fsbody .fsform {
position: relative;
margin-top: 0 !important;
padding: 30px 19px;
margin-bottom: 20px !important;
overflow: hidden;
}
.survey-mode.fsbody .fsform .reportabuse {
margin-bottom: 51px !important;
}
.survey-mode.fsbody .fsform .g-recaptcha .grecaptcha-badge {
bottom: 64px !important;
}
.survey-mode.fsbody .fsform.with-ads:not(.fsgo-form) .g-recaptcha .grecaptcha-badge {
bottom: 104px !important;
}
.survey-mode.fsbody .fsform.with-ads:not(.fsgo-form) .survey-header {
bottom: 40px;
}
.survey-mode.fsbody .fsform .fsratingfieldcontainer svg.phx-icon {
max-height: 60px;
}
.survey-mode.fsbody .fsform .fsratingfieldcontainer .fsratingpipbutton {
margin: 0 2px;
}
.survey-mode.fsbody .fsform .fssignature {
margin: 0 -12px;
}
.survey-mode.fsbody .fsform .survey-header {
padding: 12px;
height: 51px;
margin: 0;
position: fixed;
bottom: 0;
left: 0;
top: unset;
box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.25);
}
.survey-mode.fsbody .fsform .survey-header .fsheaderimage.fsheaderimage--sticky {
display: none;
}
.survey-mode.fsbody .fsform .survey-header.with-progressbar {
padding: 12px 12px 22px;
height: 61px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination {
justify-content: space-between;
margin-bottom: 0;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination div.sharelinkswrapper {
margin-bottom: 59px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsprogress {
position: fixed;
margin-top: 0;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsprogress .fsprogressbarcontainer {
height: 12px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fssubmitbutton {
height: 31px;
padding: 7px;
margin-left: auto !important;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton {
margin-left: auto;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fssubmitbutton {
margin-right: 12px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton {
width: 31px;
height: 31px;
}
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fsnextbutton:before,
.survey-mode.fsbody .fsform .survey-header .fssubmit.fspagination .fspreviousbutton:before {
font-size: 1.3em;
}
}
.survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror) {
background-color: transparent;
}
.survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror).fsspan100 {
margin: 0 !important;
padding: 0 !important;
}
.survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror).fsspan100.fsrowbody {
margin-bottom: 20px !important;
} 
/* .survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror) .fsfieldhighlight {
background-color: rgba(, 0);
}
.survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror) .fsfieldhighlight::after {
background-color: rgba(, 0);
}
.survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror) .fsoptionlabel:focus, .survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror) .fsoptionlabel:active {
background-color: rgba(, 0);
}
.survey-mode .fsform .fsfieldfocused:not(.fsvalidationerror) .fsoptionlabel {
-webkit-tap-highlight-color: rgba(, 0.3);
} */
.survey-mode .fsform .fieldset-content label.fsoptionlabel {
background-color: #ffffff;
}
.survey-mode .fsform .fssubfield label.fssupporting {
margin-top: 7px;
}
.survey-mode .fsform .fssubfield.fsfieldcity {
padding: 0;
}
.survey-mode .fsform .fssubfield.fssubfield.fsfieldstate {
padding: 0;
}
.survey-mode .fsform .fssubfield.fsfieldzip {
padding: 0;
}
.survey-mode .fsform .fsratingfieldcontainer {
box-sizing: border-box;
border-radius: 6px;
display: flex;
}
.survey-mode .fsform .fsratingfieldcontainer svg.phx-icon {
max-height: 100px;
max-width: 100px;
height: auto;
width: 100%;
}
.survey-mode .fsform .fsratingfieldcontainer .fsratingpipbutton {
margin: 25px 5px;
flex: 1;
max-width: 133px;
}
.survey-mode .fsform .fsratingfieldcontainer .fsratingpipbutton:focus {
opacity: 1;
}
.survey-mode .fsform .fsfieldhighlight {
background-color: #ffffff;
padding: 19px;
box-sizing: border-box;
border-radius: 6px;
z-index: 5;
position: relative;
}
.survey-mode .fsform .fsfieldhighlight::before {
background-color: #ffffff;
border-radius: 6px;
content: "";
width: 100%;
height: 100%;
position: absolute;
display: block;
z-index: -1;
left: 0;
top: 0;
}
.survey-mode .fsform .fsfieldhighlight::after {
transition: background-color 0.4s;
background-color: #ffffff;
border-radius: 6px;
content: "";
width: 100%;
height: 100%;
position: absolute;
display: block;
z-index: -1;
left: 0;
top: 0;
}
.survey-mode .fsform .fsfieldhighlight.fssubfieldgroup {
display: flex;
}
.survey-mode .fsform [fs-field-type=address] .fsfieldhighlight {
margin-bottom: 20px;
}
.survey-mode .fsform [fs-field-type=address] .fsfieldhighlight > label {
margin-top: 7px;
}
.survey-mode .fsform [fs-field-type=datetime] .fsfieldhighlight::after {
clear: both;
content: "";
display: table;
}
.survey-mode .fsform table.fsmatrix td {
padding: 19px 0;
}
.survey-mode .fsform table.fsmatrix th {
padding: 19px 6.5px;
}
.survey-mode .fsform label.fsoptionlabel {
display: block;
margin: 0.5em 0;
padding: 0.5em 1em;
line-height: 28px !important;
cursor: pointer;
}
.survey-mode .fsform label.fsoptionlabel.horizontal {
float: none;
margin: 0.5em 0;
margin-right: 0 !important;
}
.survey-mode .fsform label.fsoptionlabel.horizontal ~ div.horizontal {
display: block !important;
margin-top: 0 !important;
}
.survey-mode .fsform label.fsoptionlabel.vertical ~ div.vertical {
margin-top: 0 !important;
}
.survey-mode .fsform .fieldset-content .fsoptionlabel:first-child {
margin-top: 0;
}
.survey-mode .fsform .rtl .fsfieldrow .fieldset-content .fsoptionlabel.horizontal {
float: none !important;
margin: 0 0 0 20px;
}
.fssubmissionmessageimage {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffffff;
padding: 0;
z-index: 99999;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.fssubmissionmessageimage.fssubmissionmessageimage--hidden {
display: none;
}
.fssubmissionmessageimage .fssubmissionmessageimage__header {
position: absolute;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin-left: 19px;
top: 2px;
left: 0;
}
.fssubmissionmessageimage .fssubmissionmessageimage__image {
background-repeat: no-repeat;
background-size: unset;
background-position: center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 8;
}
.fssubmissionmessageimage .fssubmissionmessageimage__image.fssubmissionmessageimage__sizing--repeat {
background-repeat: repeat;
background-size: unset;
}
.fssubmissionmessageimage .fssubmissionmessageimage__image.fssubmissionmessageimage__sizing--contain {
background-size: contain;
}
.fssubmissionmessageimage .fssubmissionmessageimage__image.fssubmissionmessageimage__sizing--cover {
background-size: cover;
}
.fssubmissionmessageimage .fssubmissionmessageimage__image.fssubmissionmessageimage__sizing--stretch {
background-size: 100% 100%;
}
.fssubmissionmessageimage .fssubmissionmessageimage__content {
z-index: 9;
background-color: #ffffff;
padding: 40px;
margin: 10px;
border-radius: 6px;
position: relative;
}
.fssubmissionmessageimage .fssubmissionmessageimage__content.fssubmissionmessageimage__content--hide-form-background {
background-color: transparent;
}  

/* FORM WIDTH */
#fsForm4720562 {
    padding: 20px 158px!important;
    }
    /* CHANGE HEADER BACKGROUND COLOR AND SPACING */
    .fssectionheader {
    background: transparent!important;
    }
    /* MAKE CHECK IF TEXT NOT FULL WIDTH */
    .fssectiontext p span {
    display:inline-block;
    width: 85%;
    color: #405963;
    }
    /* REMOVE PADDING TO CORRECT LEFT-ALIGNMENT */
    .fssectionheader {
    padding-left: 0px!important;
    }
    /* Your contact information */
    #label121898843 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    }
    /* MOVE PHOTO IMAGE TO THE RIGHT */
    .fssectionheader .fssectiontext img {
    height: auto;
    width: 25%!important;
    float: right;
    }
    /* MOVE ILLUSTRATION */
    .fssectiontext img {
    position:relative;
    bottom: 25px;
    }
    /* EDITING FIRST NAME AND LAST NAME INPUTS */
    div .fsnamefirst,
    div .fsnamelast { position: relative; }
    .fsnamelast label, .fsnamefirst label  {
    position: absolute;
    top: -20px;
    font-size: 12px!important;
    font-weight: normal!important;
    text-transform: uppercase!important;
    }
    /* CAPITALIZE FIELDS */
    #label121899046,
    #label121898929, #label121899194 {
    text-transform: uppercase;
    font-size: 12px!important;
    }
    /* first yes */
    input#text { font-weight: normal!important; }
    /* MAKE STATE AND PHONE INPUTS IN 1 LINE */
    #fsCell121899046, #fsRow4720562-5 {
    width: 49%;
    float: left;
    }
    #fsCell121899046 {
    margin-right: 2%;
    }
    /* FIRST AND LAST NAME WIDTH */
    .fsnamefirst, .fsnamelast {
    width: 49%!important;
    }
    .fsnamefirst {
    margin-right: 2%!important;
    }
    /* MAKE BTNS ROUNDED */
    input, select, input[type='submit'] {
    border-radius: 50px!important;
    }
    /* ADJUST SIZE OF SUBMIT BUTTON */
    input[type='submit'] {
    padding: 15px 40px;
    }
    /* radio button styling */
    label.fsoptionlabel.horizontal {
    font-weight: normal!important;
    }
    /* STYLING RADIO BUTTONS */
    :focus { outline: none; }
    input[type='radio']:before, input[type='radio'] {
    height: 30px!important;
    width: 30px!important;
    top: -1px!important;
    }
    input[type='radio']:checked:before {
    border: 8px solid #2BB523!important;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    }
    /* CONTAINER FOR 4 RADIO BUTTON OPTION */
    .fieldset-content {
    display: flex;
    flex-direction: column;
    }
    /* GIVE SPACING TO OTHER RADIO BTN SECTIONS */
    .fsoptionlabel .horizontal {
    margin-bottom: 5px!important;
    }
    /* CHANGING HEIGHT OF 4 OPTION RADIO BUTTON */
    .fsoptionlabel .vertical {
    height: 30px!important;
    margin-bottom: 5px!important;
    }
    /* SECTION TITLES */
    legend span {
    font-size: 12px;
    }
    /* LABEL TITLES SPACING */
    label.fslabel {
    margin-bottom: 0px!important;
    }
    /* INSURANCE INFORMATION */
    /* WHO ARE YOU CONSIDERING GETTING THE HERO FOR? */
    #fsCell121902185, #fsLegend121899263  {
    font-size: 18px!important;
    font-weight: bold!important;
    }
    /* State select entry spacing and all other input fields  */
    select#field121899046, #field121898843-first, #field121898843-last,
    #field121898929, #field121899194
    {
    padding-left: 15px!important;
    }
    /* MOBILE STYLE */
    @media only screen and (max-width: 680px)
    {
    #fsHeaderImage img {
    display:none;
    }
    /* THIS IS THE FULL FORM */
    #fsForm4720562 {
    padding: 20px!important;
    }
    #fsHeaderImage {
    margin-top: 20px;
    height: 50px;
    background-image: url('https://uploads-ssl.webflow.com/60185f857152d304bd99bf88/621e664a8d4277d6f3358187_Group%201563.png');
    background-repeat: no-repeat;
    background-position: center;
    }
    label.fsoptionlabel.horizontal, label.fsoptionlabel.vertical {
    background-color: transparent!important;
    border: none!important;
    }
    }
    /* END OF MEDIA QUERY */
    @font-face {
    font-family: "Gilroy";
    src: url("http://fonts.cdnfonts.com/css/gilroy-bold") format("woff2"),
    }
    form {
    font-family: 'Gilroy'!important;
    }
    /* who are you considering getting the hero for */
    #label121899263 legend span{
    font-size: 18px!important;
    text-transform: none!important;
    }
    /* PRIMARY HEALTH INSURANCE RADIO OPTIONS */ 
    label.fsoptionlabel.vertical {
    font-weight: normal!important;
    }