section {background-color: #ffffff;} 
.fsBody {
font-family: 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
color: #254885;
}
.fsBody input, .fsBody select, .fsBody textarea {
font-family: 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}
.wf-active .fsBody, .wf-active .fsBody input, .wf-active .fsBody select, .wf-active .fsBody textarea {
font-family: 'Roboto', 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}
.fsBody .fsForm {
float: center;
border: 0px solid transparent;
background-color: #ffffff;
background-color: rgba(255,255,255, 1);
}
#fsHeaderImage {
text-align: center;
}
#fsHeaderImage img {
width: 526px;
height: 34px;
}
/* #fsFooterImage {
text-align: ;
}
#fsFooterImage img {
width: ;
height: ;
} */
.fsborderradius .fsBody .fsForm {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
}
.fsBody {
padding: 20px;
}
.fsBody .fsForm {
margin: 20px auto;
padding: 20px;
}
.fsBody .fsFieldRow {
margin-bottom: 20px !important;
}
.fsBody .fsRowBody {
margin-bottom: 20px !important;
}
.fsBody .fsSubField {
margin-right: 10px;
}
@media (max-width: 40em) {
.fsRow.fsFieldRow.fsLastRow {
margin-bottom: 20px;
}
.fsSubFieldGroup .fsSubField:not(:last-child) {
margin-bottom: 10px;
}
}
.fsFieldFocused:not(.fsValidationError) {
background-color: transparent;
/* background-color: rgba(, 0); */
}
.fsFieldFocused:not(.fsValidationError).fsSpan100 {
padding: 10px !important;
margin: -10px -10px !important;
}
.fsFieldFocused:not(.fsValidationError).fsSpan75, .fsFieldFocused:not(.fsValidationError).fsSpan66, .fsFieldFocused:not(.fsValidationError).fsSpan50, .fsFieldFocused:not(.fsValidationError).fsSpan33, .fsFieldFocused:not(.fsValidationError).fsSpan25 {
-webkit-box-shadow: 0 0 0 10px transparent;
-moz-box-shadow: 0 0 0 10px transparent;
box-shadow: 0 0 0 10px transparent;
/* -webkit-box-shadow: 0 0 0 10px rgba(, 0);
-moz-box-shadow: 0 0 0 10px rgba(, 0);
box-shadow: 0 0 0 10px rgba(, 0); */
}
.fsRequiredMarker {
margin-left: 2.5px !important;
font-size: 16px;
color: #595d64;
}
.fsValidationError {
background-color: #fae9e9;
-webkit-box-shadow: 0 0 0 calc(5px - 1px) #fae9e9, 0 0 0 5px #ce5f6d;
-moz-box-shadow: 0 0 0 calc(5px - 1px) #fae9e9, 0 0 0 5px #ce5f6d;
box-shadow: 0 0 0 calc(5px - 1px) #fae9e9, 0 0 0 5px #ce5f6d;
}
.fsForm input:focus,
.fsForm select:focus,
.fsForm textarea:focus,
.fsForm .ui-slider-handle:focus {
border-color: #cfd4d8;
/* -webkit-box-shadow: 0 0 5px rgba(, 0.75);
-moz-box-shadow: 0 0 5px rgba(, 0.75);
box-shadow: 0 0 5px rgba(, 0.75); */
}
.fsForm :-moz-focusring {
text-shadow: 0 0 0 #595d64;
}
@media \0 screen {
.fsForm input:focus,
.fsForm select:focus,
.fsForm textarea:focus {
filter: progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=0) progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=90) progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=180) progid:DXImageTransform.Microsoft.Shadow(Color=#595d64, Strength=2, Direction=270);
}
}
div.fsError {
margin: 0 0 20px 0;
padding: 10px;
font-size: 14px;
}
.fsBody .showMobile {
margin-top: 10px;
font-size: 12px;
}
.fsBody .fsLabel,
.fsBody label {
font-size: 16px;
color: #595d64;
}
.fsLabelVertical .fsLabel {
margin-bottom: 10px;
}
.fsBody .fsSupporting {
font-size: 12px;
font-weight: 400;
font-style: normal;
line-height: 12px;
color: #595d64;
}
.fsFieldFocused div.fsSupporting {
color: #595d64;
}
.fsBody .fsCounter {
font-size: 12px;
color: #595d64;
}
.fsForm .fsLabelHorizontal > label, .fsForm .fsLabelHorizontal > legend, .fsForm .fsLabelHorizontal > span.fsLabel, .fsForm .fsLabelHorizontal legend.fsLabelHorizontal {
width: calc(25% - 10px);
margin-right: 10px;
}
label.fsOptionLabel {
font-size: 14px;
line-height: 28px;
}
.fsBody .fieldset-content .fsOptionLabel.horizontal {
margin-right: 20px;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait), all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
.fsOptionLabel {
line-height: 32px !important;
}
}
@media (max-width: 40em) {
label.fsOptionLabel {
border: 1px solid #cfd4d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #edeff0;
color: #595d64;
}
}
.fsBody .fsCalloutTop {
border-color: transparent transparent #595d64 transparent;
}
.fsBody .fsCalloutBody {
padding: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 12px;
line-height: 24px;
color: #ffffff;
background-color: #595d64;
}
.fsRowBody input[type=text],
.fsRowBody input[type=email],
.fsRowBody input[type=number],
.fsRowBody input[type=tel],
.fsForm textarea,
.fsSignature {
border: 1px solid #cfd4d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #ffffff;
-webkit-transition-property: color, background-color, border, border-color, box-shadow;
-moz-transition-property: color, background-color, border, border-color, box-shadow;
-o-transition-property: color, background-color, border, border-color, box-shadow;
transition-property: color, background-color, border, border-color, box-shadow;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.fsRowBody input[type=text],
.fsRowBody input[type=email],
.fsRowBody input[type=number],
.fsRowBody input[type=tel],
.fsForm select {
height: 42px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.fsRowBody input[type=text],
.fsRowBody input[type=email],
.fsRowBody input[type=number],
.fsRowBody input[type=tel],
.fsForm select,
.fsForm textarea {
padding: 7px;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 14px;
color: #595d64;
}
.fsRowBody input[type=text].fsRequired,
.fsRowBody input[type=email].fsRequired,
.fsRowBody input[type=number].fsRequired,
.fsRowBody input[type=tel].fsRequired,
.fsForm select.fsRequired,
.fsForm textarea.fsRequired {
border: 1px solid #cfd4d8;
background-color: #ffffff;
}
.fsCell {
-webkit-transition-property: padding, box-shadow, background-color, margin-left, margin-right;
-moz-transition-property: padding, box-shadow, background-color, margin-left, margin-right;
-o-transition-property: padding, box-shadow, background-color, margin-left, margin-right;
transition-property: padding, box-shadow, background-color, margin-left, margin-right;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.fsRowBody input[type=radio],
.fsRowBody input[type=checkbox] {
top: 7px;
width: 14px;
height: 14px;
}
.fsRowBody input[type=radio]:before, .fsRowBody input[type=radio]:checked:before,
.fsRowBody input[type=checkbox]:before,
.fsRowBody input[type=checkbox]:checked:before {
width: 14px;
height: 14px;
margin-right: 7px;
border: 1px solid #cfd4d8;
background-color: #ffffff;
}
.fsRowBody input[type=radio]:checked:before {
border: 4px solid #595d64;
}
.fsRatingShape .phx-Icon {
fill: #595d64;
height: 25px;
width: 25px;
}
.fsRowBody input[type=checkbox]:checked:before {
border-color: #595d64;
background-color: #595d64;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 765.2'%3E%3Cpath fill='%23ffffff' d='M960,233.4L468.2,725.1c-53.4,53.4-140,53.4-193.3,0L40,490.3c-53.4-53.4-53.4-140,0-193.3c53.4-53.4,140-53.4,193.3,0	l138.2,138.2L766.6,40c53.4-53.4,140-53.4,193.3,0C1013.3,93.4,1013.3,180,960,233.4z'/%3E%3C/svg%3E");
}
.fsForm select {
padding-right: calc(14px);
padding-left: calc(7px);
border: 1px solid #cfd4d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
color: #595d64;
background-color: #ffffff;
-webkit-transition-property: color, background-color, border, border-color;
-moz-transition-property: color, background-color, border, border-color;
-o-transition-property: color, background-color, border, border-color;
transition-property: color, background-color, border, border-color;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.fsForm select:not([multiple=multiple]) {
padding-right: calc(28px);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1805.18'%3E%3Cpath fill='%23595d64' d='M461.6,643.4L10.9,79.9C-14.9,47.7,8,0,49.3,0h901.5c41.2,0,64.1,47.7,38.4,79.9L538.4,643.4	C518.7,668,481.3,668,461.6,643.4z' transform='rotate(180 500 902.59) translate(0 1143.28)'%3E%3C/path%3E%3Cpath fill='%23595d64' d='M461.6,643.4L10.9,79.9C-14.9,47.7,8,0,49.3,0h901.5c41.2,0,64.1,47.7,38.4,79.9L538.4,643.4	C518.7,668,481.3,668,461.6,643.4z' transform='translate(0 1143.28)'%3E%3C/path%3E%3C/svg%3E");
background-position: right 7px top 50%;
}
@media screen\0  {
.fsForm select {
padding-right: calc(14px) !important;
}
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(1).fsNameFirst {
width: calc(50% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameFirst {
width: calc(40% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNamePrefix, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameInitial, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameMiddle, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameSuffix {
width: calc(20% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameFirst {
width: calc(35% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNamePrefix, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameInitial, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameMiddle, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameSuffix {
width: calc(15% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameFirst {
width: calc(32% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNamePrefix, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameInitial, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameMiddle, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameSuffix {
width: calc(12% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameFirst {
width: calc(28% - 10px);
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNamePrefix, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameInitial, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameMiddle, .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameSuffix {
width: calc(11% - 10px);
}
.fsBody .fsSubField.fsFieldAddress {
width: 100%;
}
.fsBody .fsSubField.fsFieldAddress2 {
width: 100%;
}
.fsBody .fsSubField.fsFieldCity {
width: calc(60% - 10px);
}
.fsBody .fsSubField.fsFieldState {
width: calc(30% - 10px);
}
.fsBody .fsSubFieldGroup ~ select[name*=-country] {
margin-top: 10px !important;
}
.fsBody .fsSubField.fsFieldAddress,
.fsBody .fsSubField.fsFieldAddress2 {
margin-bottom: 10px;
}
@media all and (max-width: 699px), all and (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), all and (device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
.fsBody .fsSubField.fsFieldCity {
margin-bottom: 10px;
}
.fsBody .fsSubField.fsFieldState {
width: calc(70% - 10px);
}
}
@media (max-width: 40em) {
div.fsSubField.fsFieldState {
margin-right: 10px;
}
}
div.fsSliderValue {
padding: 7px 14px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
line-height: 16px;
color: #ffffff;
background-color: #595d64;
}
.fsSliderDiv {
font-size: 14px;
background-color: #595d64;
}
.fsSliderDiv .ui-state-default,
.fsSliderDiv .ui-widget-content .ui-state-default {
background-color: #595d64;
}
.fsSliderDiv .ui-state-active,
.fsSliderDiv .ui-widget-content .ui-state-active {
background-color: #595d64;
}
.fsSliderDiv .ui-corner-all, .fsSliderDiv.ui-corner-all {
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.fsSliderDiv.ui-widget-content {
border: 1px solid #d4d4d4 !important;
}
.fsSliderDiv .ui-widget-header {
background-color: #d4d4d4;
}
.fsCurrency {
margin-right: 5px !important;
font-size: 14px;
line-height: 32px;
color: #595d64;
}
.fsCurrency.fsCurrencySuffix {
margin-right: 0 !important;
margin-left: 5px !important;
}
.fsCurrency ~ input.fsField {
width: calc(96% - 5px) !important;
}
.fsRowBody input[type=email] ~ p {
margin-top: 10px;
}
@font-face {
font-family: "TextMask";
src: url("/forms/fonts/3/password.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
.fsTextMask {
font-family: "TextMask" !important;
}
.fsRowBody input[type=text] ~ p {
margin-top: 10px;
}
.fsProductField__fields__quantity {
color: #595d64;
}
.fsProductField__fields__fixed-amount,
.fsProductField__fields__no-charge {
font-size: 14px;
color: #595d64;
}
.fsProductField__info__name {
font-size: 16px;
color: #595d64;
}
.fsProductField__info__description {
margin-top: 5px;
font-size: 12px;
line-height: 12px;
color: #595d64;
}
.fsProductField__fields__sold-out {
font-size: 14px;
color: #595d64;
}
.fsProductField__wait-list {
margin-top: 10px;
}
@media (max-width: 40em) {
.fsProductField__image {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.fsProductField__fields__fixed-amount,
.fsProductField__fields__quantity {
font-size: 14px;
}
}
.fsMatrix {
font-size: 12px;
color: #595d64;
}
.fsMatrix th,
.fsMatrix td {
border-top: 1px solid #cfd4d8;
border-left: 1px solid #cfd4d8;
}
.fsMatrix th:nth-child(2) {
-webkit-border-radius: 3px 0 0 0;
-moz-border-radius: 3px 0 0 0;
-ms-border-radius: 3px 0 0 0;
-o-border-radius: 3px 0 0 0;
border-radius: 3px 0 0 0;
}
.fsMatrix tr:first-child th:last-child {
-webkit-border-radius: 0 3px 0 0;
-moz-border-radius: 0 3px 0 0;
-ms-border-radius: 0 3px 0 0;
-o-border-radius: 0 3px 0 0;
border-radius: 0 3px 0 0;
}
.fsMatrix tr:last-child td:last-child {
-webkit-border-radius: 0 0 3px 0;
-moz-border-radius: 0 0 3px 0;
-ms-border-radius: 0 0 3px 0;
-o-border-radius: 0 0 3px 0;
border-radius: 0 0 3px 0;
}
.fsMatrix tr:last-child th {
-webkit-border-radius: 0 0 0 3px;
-moz-border-radius: 0 0 0 3px;
-ms-border-radius: 0 0 0 3px;
-o-border-radius: 0 0 0 3px;
border-radius: 0 0 0 3px;
}
.fsMatrix tr:last-child th,
.fsMatrix tr:last-child td {
border-bottom: 1px solid #cfd4d8;
}
.fsMatrix tr th:last-child,
.fsMatrix tr td:last-child {
border-right: 1px solid #cfd4d8;
}
.fsMatrix th.fsMatrixLabelColumn {
text-align: center;
}
.fsMatrix th.fsMatrixLabelRow {
text-align: right;
}
.fsMatrix th.fsMatrixLabelColumn,
.fsMatrix th.fsMatrixLabelRow {
padding: 6px;
}
.fsMatrixCol1 {
background: #eaeaea;
background: rgba(234,234,234, 0.2);
}
.fsMatrixCol2 {
background: #d4d4d4;
background: rgba(212,212,212, 0.2);
}
.rtl .fsMatrix th, .rtl .fsMatrix td {
border-right: 1px solid #cfd4d8;
}
.fsForm input[type=file]::-webkit-file-upload-button, .fsForm .fsFileUploadButton {
height: 32px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
color: #ffffff;
background-color: #595d64;
}
.fsFileUploadName {
font-size: 14px;
}
.fsBody .fieldset-content .always-ltr {
margin-top: 10px;
}
.fsBody .fieldset-content select span,
.fsBody .fieldset-content .always-ltr span, .fsBody .fieldset-content .always-ltr-align-right span {
top: 8px;
}
.fsBody .fieldset-content select {
margin-right: 10px;
}
.fsBody .fieldset-content span {
right: 5px;
}
.fsBody .ui-datepicker-trigger {
top: 8px;
margin-left: 10px;
}
.fsSignatureClear {
font-size: 12px;
color: #595d64;
}
.fsSignature + div {
margin-left: 10px;
line-height: 12px;
}
.wf-active .fsSignature {
font-family: Arial, Tahoma, sans-serif;
}
img.fsCreditCardLogo {
margin-top: 5px;
}
.fsBody .fsSectionHeader {
background-color: #edeff0;
}
.fsBody .fsForm .fsSectionHeading {
margin-bottom: 10px;
text-align: center;
font-size: 28px;
font-weight: 400;
font-style: normal;
line-height: 28px;
color: #595d64;
}
.fsborderradius .fsBody .fsSectionHeader {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.fsborderradius .fsBody .fsSectionHeader {
margin-bottom: 40px;
}
.fsBody .fsSectionHeader {
padding: 20px;
}
.fsForm select[multiple=multiple]::-webkit-scrollbar-thumb,
.fsForm textarea::-webkit-scrollbar-thumb {
background-color: #cfd4d8;
}
.fsForm .fsSubmit {
margin-top: 40px;
padding: 20px 0;
}
.fsPreviousButton,
.fsSubmitButton,
.fsNextButton {
padding: 10px 10px;
border: 0px solid transparent;
-webkit-border-radius: 3px !important;
-moz-border-radius: 3px !important;
-ms-border-radius: 3px !important;
-o-border-radius: 3px !important;
border-radius: 3px !important;
font-size: 14px !important;
font-weight: 400;
font-style: normal;
line-height: 14px;
color: #ffffff !important;
background-color: #405963 !important;
}
div.fsProgress {
margin-top: 20px;
}
div.fsProgressBarContainer {
height: 14px;
background-color: #eaeaea;
}
div.fsProgressText {
margin-top: -14px;
font-size: 7px;
line-height: 14px;
color: #595d64;
}
div.fsProgressBar {
background-color: #d4d4d4;
}
div.fsSaveIncomplete {
margin-bottom: 20px;
padding: 10px 0;
background-color: #eaeaea;
}
div.fsSaveIncomplete a {
font-size: 14px;
color: #595d64;
}
div.fsSaveIncomplete a:visited {
color: #595d64;
}
@media all and (max-width: 699px), all and (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), all and (device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
.fsPagination .fsNextButton,
.fsPagination .fsPreviousButton {
background-color: #405963;
}
.fsPagination .fsSubmitMultipage {
margin-top: 20px !important;
}
}
#fsSubmissionCheckmark {
margin: 10px 0;
background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath fill='%23595d64' d='M500,0C223.9,0,0,223.9,0,500c0,276.1,223.9,500,500,500s500-223.9,500-500C1000,223.9,776.1,0,500,0z M749.4,423	L495.6,676.8c-27.6,27.6-72.2,27.6-99.8,0L274.7,555.6c-27.6-27.6-27.6-72.2,0-99.8c27.6-27.6,72.2-27.6,99.8,0l71.3,71.3	l203.9-203.9c27.6-27.6,72.2-27.6,99.8,0C777,350.8,777,395.5,749.4,423z'/%3E%3C/svg%3E");
}
#fsSubmissionCheckmark ~ .fsSectionHeading {
margin-bottom: 10px;
}
#fsSubmissionCheckmark ~ .fsSectionText {
text-align: center;
}
#recaptcha_area {
margin-bottom: 20px;
}
.recaptchatable img:hover {
-webkit-box-shadow: 0px 0px 0px 1px #595d64;
-moz-box-shadow: 0px 0px 0px 1px #595d64;
box-shadow: 0px 0px 0px 1px #595d64;
}
.fsForm .fsWorkflowSendBack {
margin-top: 20px;
font-size: 16px;
}
.fsForm .fsWorkflowSendBack a {
text-decoration: underline;
cursor: pointer;
}
.fsForm .fsWorkflowSendBack svg {
margin-bottom: -2px;
width: 14px;
height: 14px;
fill: #595d64;
}
.fsEmbed .fsWelcomeMessage {
position: relative;
}
.fsWelcomeMessage:not(.fsWelcomeMessage--hidden) + form.fsForm {
display: none;
}
.fsWelcomeMessage--hidden + form.fsForm {
display: inherit;
}
.fsWelcomeMessage {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffffff;
padding: 0;
z-index: 99999;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.fsWelcomeMessage.fsWelcomeMessage--hidden {
display: none;
}
.fsWelcomeMessage .fsWelcomeMessage__header {
position: absolute;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin-left: 19px;
top: 2px;
left: 0;
}
.fsWelcomeMessage .fsWelcomeMessage__image {
background-repeat: no-repeat;
background-size: unset;
background-position: center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 8;
}
.fsWelcomeMessage .fsWelcomeMessage__image.fsWelcomeMessage__sizing--repeat {
background-repeat: repeat;
background-size: unset;
}
.fsWelcomeMessage .fsWelcomeMessage__image.fsWelcomeMessage__sizing--contain {
background-size: contain;
}
.fsWelcomeMessage .fsWelcomeMessage__image.fsWelcomeMessage__sizing--cover {
background-size: cover;
}
.fsWelcomeMessage .fsWelcomeMessage__image.fsWelcomeMessage__sizing--stretch {
background-size: 100% 100%;
}
.fsWelcomeMessage .fsWelcomeMessage__content {
z-index: 9;
background-color: #ffffff;
padding: 40px;
margin: 10px;
border-radius: 6px;
position: relative;
}
.fsWelcomeMessage .fsWelcomeMessage__content.fsWelcomeMessage__content--hide-form-background {
background-color: transparent;
}
.fsWelcomeMessage .fsWelcomeMessage__content .fsWelcomeMessage__message {
color: #595d64;
font-size: 28px;
}
.fsWelcomeMessage .fsWelcomeMessage__content .fsWelcomeMessage__start-button {
padding: 10px 10px;
margin-top: 40px;
border: 0px solid transparent;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 14px;
color: #ffffff;
background-color: #405963;
cursor: pointer;
}
html:not([data-scroll="0"]) .survey-mode.fsBody .fsForm .survey-header {
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.survey-mode.fsBody #fsHeaderImage {
transition: all 0.1s;
position: fixed;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin: 2px 0 0 19px;
top: 0;
left: 0;
}
.survey-mode.fsBody #fsHeaderImage.fsHeaderImage--relative {
display: none;
}
.survey-mode.fsBody .fsHeaderImage--sticky {
transition: all 0.1s;
position: absolute;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin-left: 19px;
bottom: 2px;
left: 0;
}
.survey-mode.fsBody .payment-warning {
margin-top: 61px;
margin-left: 7px;
margin-right: 7px;
}
.survey-mode.fsBody .fsSignatureClear {
text-decoration: none;
background: #FFF;
color: #000;
padding: 7px 12px;
border-radius: 3px;
text-transform: capitalize;
}
.survey-mode.fsBody [fs-field-type=signature] .fsSupporting {
clear: left;
margin-left: 12px;
margin-top: 9px;
line-height: 1.5;
}
.survey-mode.fsBody .fsForm {
margin-top: 140px !important;
min-width: inherit;
width: 100%;
background-color: #ffffff;
border: none;
max-width: 1024px;
}
.survey-mode.fsBody .fsForm .g-recaptcha .grecaptcha-badge {
z-index: 9;
}
.survey-mode.fsBody .fsForm.with-ads:not(.fsgo-form) .g-recaptcha .grecaptcha-badge {
bottom: 54px !important;
}
.survey-mode.fsBody .fsForm.with-ads:not(.fsgo-form) .fsProgress {
bottom: 40px;
}
.survey-mode.fsBody .fsForm .fsSignature + div {
margin-top: 7px;
line-height: 1.5;
}
.survey-mode.fsBody .fsForm .fsProgress {
position: fixed;
border: 0;
bottom: 0;
left: 0;
z-index: 11;
}
.survey-mode.fsBody .fsForm .fsProgress div.fsProgressText {
display: none;
}
.survey-mode.fsBody .fsForm .fsProgress div.fsProgressBar {
transition: width 1s;
}
.survey-mode.fsBody .fsForm .survey-header {
background-color: #ffffff;
z-index: 9;
box-sizing: border-box;
position: fixed;
width: 100%;
top: -1px;
left: 0;
height: 88px;
display: flex;
align-items: flex-end;
padding: 19px;
transition: all 0.1s linear;
}
.survey-mode.fsBody .fsForm .survey-header.with-progressbar div.shareLinksWrapper {
margin-bottom: 11px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination {
position: relative;
flex: 1;
padding: 0;
margin: 0 0 7px 0;
display: flex;
justify-content: flex-end;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination span.fsFull {
display: none;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsSubmitButton {
display: inline-block;
width: auto;
margin: 0 !important;
height: 44px;
padding: 0 30px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsSubmitButton {
margin-right: 29px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton {
width: 41px;
height: 41px;
padding: 0;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
-ms-border-radius: 50% !important;
-o-border-radius: 50% !important;
border-radius: 50% !important;
user-select: none;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsSlim {
display: none;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton:before,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton:before {
display: block;
text-indent: 0;
font-size: 1.5em;
line-height: 0;
font-family: "Zapf Dingbats";
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton:before {
content: "➤";
margin-left: 3px;
margin-top: 3px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton:before {
content: "➤";
transform: rotate(180deg);
margin-left: -3px;
}
.rtl .survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton:before {
content: "➤";
transform: rotate(180deg);
}
.rtl .survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton:before {
content: "➤";
}
@media all and (max-width: 1024px) {
.survey-mode.fsBody .fsHeaderImage.fsHeaderImage--relative {
display: none;
}
.survey-mode.fsBody .payment-warning {
margin-top: 91px;
}
.survey-mode.fsBody #fsFooterImage {
margin-bottom: 61px;
}
.survey-mode.fsBody .fsForm label.fsOptionLabel {
color: #595d64;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination {
margin-top: 0 !important;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsProgress {
margin-top: 0;
position: fixed;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination div.shareLinksWrapper {
margin-bottom: 12px;
}
.survey-mode.fsBody .fsForm .fsFieldHighlight.fsSubFieldGroup {
flex-direction: column;
}
.survey-mode.fsBody .fsForm [fs-field-type=address] .fsSubFieldGroup .fsSubField {
width: 100%;
margin-bottom: 15px;
}
.survey-mode.fsBody .fsForm [fs-field-type=address] .fsFieldHighlight > select {
margin-top: 0 !important;
}
.survey-mode.fsBody .fsForm [fs-field-type=address] .fsFieldHighlight > label {
margin-top: 7px;
}
.survey-mode.fsBody .fsForm [fs-field-type=name] .fsSubField {
width: 100%;
}
.survey-mode.fsBody .fsForm [fs-field-type=name] .fsSubField:not(:last-child) {
margin-bottom: 10px;
}
}
@media all and (max-width: 480px) {
.survey-mode.fsBody #fsHeaderImage {
position: relative;
transform: scale(0.8);
transform-origin: left center;
height: 51px;
}
.survey-mode.fsBody #fsHeaderImage.fsHeaderImage--relative {
display: block;
}
.survey-mode.fsBody .fsHeaderImage--sticky {
display: none;
}
.survey-mode.fsBody .payment-warning {
margin-top: 11px;
}
.survey-mode.fsBody #fsFooterImage {
margin-bottom: 121px;
}
.survey-mode.fsBody .fsForm {
position: relative;
margin-top: 0 !important;
padding: 30px 19px;
margin-bottom: 20px !important;
overflow: hidden;
}
.survey-mode.fsBody .fsForm .reportAbuse {
margin-bottom: 51px !important;
}
.survey-mode.fsBody .fsForm .g-recaptcha .grecaptcha-badge {
bottom: 64px !important;
}
.survey-mode.fsBody .fsForm.with-ads:not(.fsgo-form) .g-recaptcha .grecaptcha-badge {
bottom: 104px !important;
}
.survey-mode.fsBody .fsForm.with-ads:not(.fsgo-form) .survey-header {
bottom: 40px;
}
.survey-mode.fsBody .fsForm .fsRatingFieldContainer svg.phx-Icon {
max-height: 60px;
}
.survey-mode.fsBody .fsForm .fsRatingFieldContainer .fsRatingPipButton {
margin: 0 2px;
}
.survey-mode.fsBody .fsForm .fsSignature {
margin: 0 -12px;
}
.survey-mode.fsBody .fsForm .survey-header {
padding: 12px;
height: 51px;
margin: 0;
position: fixed;
bottom: 0;
left: 0;
top: unset;
box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.25);
}
.survey-mode.fsBody .fsForm .survey-header .fsHeaderImage.fsHeaderImage--sticky {
display: none;
}
.survey-mode.fsBody .fsForm .survey-header.with-progressbar {
padding: 12px 12px 22px;
height: 61px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination {
justify-content: space-between;
margin-bottom: 0;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination div.shareLinksWrapper {
margin-bottom: 59px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsProgress {
position: fixed;
margin-top: 0;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsProgress .fsProgressBarContainer {
height: 12px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsSubmitButton {
height: 31px;
padding: 7px;
margin-left: auto !important;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton {
margin-left: auto;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsSubmitButton {
margin-right: 12px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton {
width: 31px;
height: 31px;
}
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsNextButton:before,
.survey-mode.fsBody .fsForm .survey-header .fsSubmit.fsPagination .fsPreviousButton:before {
font-size: 1.3em;
}
}
.survey-mode .fsForm .fsFieldFocused:not(.fsValidationError) {
background-color: transparent;
}
.survey-mode .fsForm .fsFieldFocused:not(.fsValidationError).fsSpan100 {
margin: 0 !important;
padding: 0 !important;
}
.survey-mode .fsForm .fsFieldFocused:not(.fsValidationError).fsSpan100.fsRowBody {
margin-bottom: 20px !important;
} 
/* .survey-mode .fsForm .fsFieldFocused:not(.fsValidationError) .fsFieldHighlight {
background-color: rgba(, 0);
}
.survey-mode .fsForm .fsFieldFocused:not(.fsValidationError) .fsFieldHighlight::after {
background-color: rgba(, 0);
}
.survey-mode .fsForm .fsFieldFocused:not(.fsValidationError) .fsOptionLabel:focus, .survey-mode .fsForm .fsFieldFocused:not(.fsValidationError) .fsOptionLabel:active {
background-color: rgba(, 0);
}
.survey-mode .fsForm .fsFieldFocused:not(.fsValidationError) .fsOptionLabel {
-webkit-tap-highlight-color: rgba(, 0.3);
} */
.survey-mode .fsForm .fieldset-content label.fsOptionLabel {
background-color: #ffffff;
}
.survey-mode .fsForm .fsSubField label.fsSupporting {
margin-top: 7px;
}
.survey-mode .fsForm .fsSubField.fsFieldCity {
padding: 0;
}
.survey-mode .fsForm .fsSubField.fsSubField.fsFieldState {
padding: 0;
}
.survey-mode .fsForm .fsSubField.fsFieldZip {
padding: 0;
}
.survey-mode .fsForm .fsRatingFieldContainer {
box-sizing: border-box;
border-radius: 6px;
display: flex;
}
.survey-mode .fsForm .fsRatingFieldContainer svg.phx-Icon {
max-height: 100px;
max-width: 100px;
height: auto;
width: 100%;
}
.survey-mode .fsForm .fsRatingFieldContainer .fsRatingPipButton {
margin: 25px 5px;
flex: 1;
max-width: 133px;
}
.survey-mode .fsForm .fsRatingFieldContainer .fsRatingPipButton:focus {
opacity: 1;
}
.survey-mode .fsForm .fsFieldHighlight {
background-color: #ffffff;
padding: 19px;
box-sizing: border-box;
border-radius: 6px;
z-index: 5;
position: relative;
}
.survey-mode .fsForm .fsFieldHighlight::before {
background-color: #ffffff;
border-radius: 6px;
content: "";
width: 100%;
height: 100%;
position: absolute;
display: block;
z-index: -1;
left: 0;
top: 0;
}
.survey-mode .fsForm .fsFieldHighlight::after {
transition: background-color 0.4s;
background-color: #ffffff;
border-radius: 6px;
content: "";
width: 100%;
height: 100%;
position: absolute;
display: block;
z-index: -1;
left: 0;
top: 0;
}
.survey-mode .fsForm .fsFieldHighlight.fsSubFieldGroup {
display: flex;
}
.survey-mode .fsForm [fs-field-type=address] .fsFieldHighlight {
margin-bottom: 20px;
}
.survey-mode .fsForm [fs-field-type=address] .fsFieldHighlight > label {
margin-top: 7px;
}
.survey-mode .fsForm [fs-field-type=datetime] .fsFieldHighlight::after {
clear: both;
content: "";
display: table;
}
.survey-mode .fsForm table.fsMatrix td {
padding: 19px 0;
}
.survey-mode .fsForm table.fsMatrix th {
padding: 19px 6.5px;
}
.survey-mode .fsForm label.fsOptionLabel {
display: block;
margin: 0.5em 0;
padding: 0.5em 1em;
line-height: 28px !important;
cursor: pointer;
}
.survey-mode .fsForm label.fsOptionLabel.horizontal {
float: none;
margin: 0.5em 0;
margin-right: 0 !important;
}
.survey-mode .fsForm label.fsOptionLabel.horizontal ~ div.horizontal {
display: block !important;
margin-top: 0 !important;
}
.survey-mode .fsForm label.fsOptionLabel.vertical ~ div.vertical {
margin-top: 0 !important;
}
.survey-mode .fsForm .fieldset-content .fsOptionLabel:first-child {
margin-top: 0;
}
.survey-mode .fsForm .rtl .fsFieldRow .fieldset-content .fsOptionLabel.horizontal {
float: none !important;
margin: 0 0 0 20px;
}
.fsSubmissionMessageImage {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffffff;
padding: 0;
z-index: 99999;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.fsSubmissionMessageImage.fsSubmissionMessageImage--hidden {
display: none;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__header {
position: absolute;
width: 180px;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;
background-position: left center;
height: 82px;
z-index: 10;
margin-left: 19px;
top: 2px;
left: 0;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__image {
background-repeat: no-repeat;
background-size: unset;
background-position: center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 8;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__image.fsSubmissionMessageImage__sizing--repeat {
background-repeat: repeat;
background-size: unset;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__image.fsSubmissionMessageImage__sizing--contain {
background-size: contain;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__image.fsSubmissionMessageImage__sizing--cover {
background-size: cover;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__image.fsSubmissionMessageImage__sizing--stretch {
background-size: 100% 100%;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__content {
z-index: 9;
background-color: #ffffff;
padding: 40px;
margin: 10px;
border-radius: 6px;
position: relative;
}
.fsSubmissionMessageImage .fsSubmissionMessageImage__content.fsSubmissionMessageImage__content--hide-form-background {
background-color: transparent;
}  

/* FORM WIDTH */
#fsForm4720562 {
    padding: 20px 158px!important;
    }
    /* CHANGE HEADER BACKGROUND COLOR AND SPACING */
    .fsSectionHeader {
    background: transparent!important;
    }
    /* MAKE CHECK IF TEXT NOT FULL WIDTH */
    .fsSectionText p span {
    display:inline-block;
    width: 85%;
    color: #405963;
    }
    /* REMOVE PADDING TO CORRECT LEFT-ALIGNMENT */
    .fsSectionHeader {
    padding-left: 0px!important;
    }
    /* Your contact information */
    #label121898843 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    }
    /* MOVE PHOTO IMAGE TO THE RIGHT */
    .fsSectionHeader .fsSectionText img {
    height: auto;
    width: 25%!important;
    float: right;
    }
    /* MOVE ILLUSTRATION */
    .fsSectionText img {
    position:relative;
    bottom: 25px;
    }
    /* EDITING FIRST NAME AND LAST NAME INPUTS */
    div .fsNameFirst,
    div .fsNameLast { position: relative; }
    .fsNameLast label, .fsNameFirst label  {
    position: absolute;
    top: -20px;
    font-size: 12px!important;
    font-weight: normal!important;
    text-transform: uppercase!important;
    }
    /* CAPITALIZE FIELDS */
    #label121899046,
    #label121898929, #label121899194 {
    text-transform: uppercase;
    font-size: 12px!important;
    }
    /* first yes */
    input#text { font-weight: normal!important; }
    /* MAKE STATE AND PHONE INPUTS IN 1 LINE */
    #fsCell121899046, #fsRow4720562-5 {
    width: 49%;
    float: left;
    }
    #fsCell121899046 {
    margin-right: 2%;
    }
    /* FIRST AND LAST NAME WIDTH */
    .fsNameFirst, .fsNameLast {
    width: 49%!important;
    }
    .fsNameFirst {
    margin-right: 2%!important;
    }
    /* MAKE BTNS ROUNDED */
    input, select, input[type='submit'] {
    border-radius: 50px!important;
    }
    /* ADJUST SIZE OF SUBMIT BUTTON */
    input[type='submit'] {
    padding: 15px 40px;
    }
    /* radio button styling */
    label.fsOptionLabel.horizontal {
    font-weight: normal!important;
    }
    /* STYLING RADIO BUTTONS */
    :focus { outline: none; }
    input[type='radio']:before, input[type='radio'] {
    height: 30px!important;
    width: 30px!important;
    top: -1px!important;
    }
    input[type='radio']:checked:before {
    border: 8px solid #2BB523!important;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    }
    /* CONTAINER FOR 4 RADIO BUTTON OPTION */
    .fieldset-content {
    display: flex;
    flex-direction: column;
    }
    /* GIVE SPACING TO OTHER RADIO BTN SECTIONS */
    .fsOptionLabel .horizontal {
    margin-bottom: 5px!important;
    }
    /* CHANGING HEIGHT OF 4 OPTION RADIO BUTTON */
    .fsOptionLabel .vertical {
    height: 30px!important;
    margin-bottom: 5px!important;
    }
    /* SECTION TITLES */
    legend span {
    font-size: 12px;
    }
    /* LABEL TITLES SPACING */
    label.fsLabel {
    margin-bottom: 0px!important;
    }
    /* INSURANCE INFORMATION */
    /* WHO ARE YOU CONSIDERING GETTING THE HERO FOR? */
    #fsCell121902185, #fsLegend121899263  {
    font-size: 18px!important;
    font-weight: bold!important;
    }
    /* State select entry spacing and all other input fields  */
    select#field121899046, #field121898843-first, #field121898843-last,
    #field121898929, #field121899194
    {
    padding-left: 15px!important;
    }
    /* MOBILE STYLE */
    @media only screen and (max-width: 680px)
    {
    #fsHeaderImage img {
    display:none;
    }
    /* THIS IS THE FULL FORM */
    #fsForm4720562 {
    padding: 20px!important;
    }
    #fsHeaderImage {
    margin-top: 20px;
    height: 50px;
    background-image: url('https://uploads-ssl.webflow.com/60185f857152d304bd99bf88/621e664a8d4277d6f3358187_Group%201563.png');
    background-repeat: no-repeat;
    background-position: center;
    }
    label.fsOptionLabel.horizontal, label.fsOptionLabel.vertical {
    background-color: transparent!important;
    border: none!important;
    }
    }
    /* END OF MEDIA QUERY */
    @font-face {
    font-family: "Gilroy";
    src: url("http://fonts.cdnfonts.com/css/gilroy-bold") format("woff2"),
    }
    form {
    font-family: 'Gilroy'!important;
    }
    /* who are you considering getting the hero for */
    #label121899263 legend span{
    font-size: 18px!important;
    text-transform: none!important;
    }
    /* PRIMARY HEALTH INSURANCE RADIO OPTIONS */ 
    label.fsOptionLabel.vertical {
    font-weight: normal!important;
    }